h1 {
	font-size: 90px;
	padding-left: 200px;
	font-family: Lucida Console;
}

p {
	font-family: Arial;
	padding-left: 25px;
	padding-right: 25px;
}

h2 {
	padding-top: 50px;
}

img {
	border: 1px solid black;
	margin: 30px;
}